<div class="form-container">
    <h2>Editar Informações de Membro</h2>
    <form action="/admin/manage-accounts/member/<%= member.id %>?_method=PATCH" method="POST" enctype="multipart/form-data">
        <div class="form-row">
            <%- include('_form_fields') %>
        </div>
        <div class="form-options">
            <button class="btn btn-primary" type="submit">Atualizar</button>
            <a class="btn btn-cancel" href="/admin/manage-accounts/member/<%= member.id %>">Cancelar</a>
        </div>
    </form>
</div>