<div class="form-container">
    <h2>Iniciar Sessão</h2>
    <form action="/auth/login" method="POST">
        <div class="form-column">
            <div class="form-item">
                <label>Email:</label>
                <input class="form-input" type="email" name="email" placeholder="email@email.com" required>
            </div>
            <div class="form-item">
                <label>Senha:</label>
                <input class="form-input" type="password" name="password" placeholder="Password" required>
            </div>
        </div>
        <div class="form-options">
            <button class="btn btn-primary" type="submit">Entrar</button>
        </div>
    </form>
</div>