<header>
    <nav>
        <div class="header-title">
            <a href="/">
                <!-- <img class="main" height="125" width="125" src="/assets/niceGuy.png"> -->
                CDE Match
            </a>
        </div>
        <div class="header-options">
            <div class="header-option">
                <a>Accounts</a>
                <div class="dropdown">
                    <a href="/admin/manage-accounts/admin">Administradores</a>
                    <a href="/admin/manage-accounts/admin/new">Novo Administrador</a>
                    <a href="/admin/manage-accounts/user">Utilizadores</a>
                    <a href="/admin/manage-accounts/user/new">Novo Utilizador</a>
                </div>
            </div>
        </div>
    </nav>
</header>