<header>
    <nav>
        <div class="header-title">
            <a href="/">
                <img class="main" height="45" src="/assets/cde-icon.png">
                CDE Match
            </a>
        </div>

        <div class="header-option">
            <a href="/admin/manage-accounts/admin">Administradores</a>
            <div class="dropdown">
                <a href="/admin/manage-accounts/admin">Lista de Administradores</a>
                <a href="/admin/manage-accounts/admin/new">Novo Administrador</a>
            </div>
        </div>

        <div class="header-option">
            <a href="/admin/manage-accounts/member">Membros</a>
            <div class="dropdown">
                <a href="/admin/manage-accounts/member">Lista de Membros</a>
                <a href="/admin/manage-accounts/member/new">Novo Membro</a>
            </div>
        </div>

        <div class="header-option">
            <a href="/admin/manage-offers/">Ofertas</a>
            <div class="dropdown">
                <a href="/admin/manage-offers/">Lista de Ofertas</a>
                <a href="/admin/manage-offers/new">Nova Oferta</a>
            </div>
        </div>
        
        <div class="header-option">
            <a href="">Login</a>
        </div>
        
    </nav>
</header>