.business-list {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%; 
  max-width: 800px; 
  margin: 0 auto;
}

.business-card {
  color: var(--color-gray);
  background-color: var(--color-smokedblue);
  width: 100%; 
  max-width: 600px; 
  border-radius: 1rem;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  box-sizing: border-box; 
}

.business-info {
  flex: 1; 
  width: auto; 
  min-width: 0;
}
.business-options {
  gap: 5px;
  display: flex;
  flex-direction: column;
}

.business-info ul {
  padding: 0;
  margin: 0;
}

.business-info li {
  color: var(--color-gray);
  white-space: normal; 
  word-wrap: break-word;
  overflow-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.business-info span {
  color: var(--color-minor-text);
  font-size: var(--font-minor-text-size);
}
