:root {
  --color-btn-primary-background: var(--color-darkgolden);
  --color-btn-primary-background-dark: var(--color-golden);
  --color-btn-primary-text: var(--color-darkblue);
  --color-btn-primary-text-dark: var(--color-darkblue);
  --color-btn-border: rgb(255, 255, 255);
  --color-btn-danger-background: rgb(132, 0, 24);
  --color-btn-danger-background-dark: rgb(99, 0, 20);
  --color-btn-danger-text: white;
  --color-btn-danger-text-dark: whitesmoke;
  --color-btn-cancel-background: rgb(166, 166, 166);
  --color-btn-cancel-background-dark: rgb(133, 133, 133);
  --color-btn-cancel-text: black;
  --color-btn-cancel-text-hover: black;
}

.btn {
  border: none;
  border-radius: 0.25rem;
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
  /* font-family: "Comic Sans MS", "Comic Sans", cursive; */
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-weight: 100;
  flex-shrink: 0;
}

/* .btn-row {
  display: flex;
  align-items: flex-start;
}

.btn-row > * {
  margin-left: 1rem;
}

.btn-row > *:first-child {
  margin-left: 0;
} */

.btn-primary {
  color: var(--color-btn-primary-text);
  background-color: var(--color-btn-primary-background);
  /* height: 40px; */
}

.btn-primary:hover {
  /* color: var(--color-btn-primary-text-dark); */
  background-color: var(--color-btn-primary-background-dark);
}

.btn-danger {
  color: var(--color-btn-danger-text);
  background-color: var(--color-btn-danger-background);
}

.btn-danger:hover {
  color: var(--color-btn-danger-text-dark);
  background-color: var(--color-btn-danger-background-dark);
}

.btn-cancel {
  color: var(--color-btn-cancel-text);
  background-color: var(--color-btn-cancel-background);
}

.btn-cancel:hover {
  color: var(--color-btn-cancel-text-dark);
  background-color: var(--color-btn-cancel-background-dark);
}
