form {
  width: 100%;
}

.form-container {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  /* max-width: 1200px; */
  /* margin: auto; */
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: min-content;
  height: 100%;
  background-color: var(--color-darkblue);
  /* border: 5px solid var(--color-golden); */
  /* padding: 10px; */
  border-radius: 0.5rem;
}

.form-row {
  display: flex;
  flex-direction: row;
}

.form-column {
  padding-top: 15px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  margin-bottom: 0.5rem;
  flex-direction: column;
  align-items: center;
  /* flex: 2; */
}

.form-container h2 {
  width: max-content;
  text-align: center;
  color: var(--color-gray);
  font-weight: 100;
}

h2.name {
  width: 100%;
}

.form-container ul {
  color: var(--color-gray);
}

.text-area {
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  color: var(--color-gray);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.form-options {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 15px;
  padding-top: 15px;
  padding-bottom: 5px;
}

.form-item {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
  width: 85%;
  margin: 0px 100px;
  margin-top: 10px;
}

.form-item-row {
    display: flex;
    align-items: center; 
    gap: 12px;           
    width: 100%;
}

.checkbox-container {
    display: flex;
    align-items: center;
    gap: 6px;            
    white-space: nowrap; 
    cursor: pointer;
    color: #8A94A6;     
    font-size: 14px;
}

.checkbox-container input[type="checkbox"] {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.form-item-img {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
  width: 85%;
  margin: 0px 0px;
  margin-top: 10px;
}

.search-form-container {
  margin-top: 15px;
  padding: 0;
  box-sizing: border-box;
  /* max-width: 1200px; */
  /* margin: auto; */
  /* margin-bottom: 3rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: row; */
  /* width: 25%;
  height: 100%; */
  background-color: var(--color-darkblue);
  padding: 10px 0;
}

.search-form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.search-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
  max-width: 800px;
  gap: 5px;
}

label {
  font-size: var(--form-label-font-size);
  margin-left: 0.25rem;
  color: var(--color-gray);
}

.form-input {
  height: 1rem;
  padding: 0.4rem 0.5rem;
  border: none;
  background-color: var(--color-gray);
  color: var(--color-black);
  outline: none;
  height: 100%;
  width: 100%;
}

.search-bar {
  height: 1rem;
  padding: 0.4rem 0.5rem;
  border: none;
  background-color: var(--color-gray);
  color: var(--color-black);
  outline: none;
  height: 100%;
  width: 100%;
  margin-right: 5px;
  margin-left: 5px;
  flex-grow: 1;
}

textarea {
  height: 100%;
  resize: none;
}

select {
  background-color: var(--color-gray);
  border: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  height: 1.75rem;
  gap: 10px;
  padding: 0rem 0.5rem;
}

select option:hover {
  background-color: var(--color-darkgray);
}

.radio-group {
    display: flex;
    flex-direction: column;
    gap: 8px;              
    margin-top: 5px;
    align-items: flex-start
}

.radio-option {
    display: flex;
    align-items: center;   
    gap: 10px;             
    cursor: pointer;
}

.radio-option label {
    margin: 0;             
    font-size: 0.9rem;
    cursor: pointer;       
    color: var(--color-gray);
}

.radio-option input[type="radio"] {
    width: 18px;
    height: 18px;
    margin: 0;
    cursor: pointer;
}

.checkbox-option {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    gap: 10px;           
    margin-top: 5px;     
}

.checkbox-option label {
    margin: 0;
    cursor: pointer;
    font-size: 0.9rem;
    color: var(--color-gray);
}

.checkbox-option input[type="checkbox"] {
    margin: 0;
    width: 17px;
    height: 17px;
    cursor: pointer;
}

/* select {
  background-color: #f0f0f0; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

select option {
  background-color: #fff; 
  color: #000; 
}

select option:hover {
  background-color: #ccc; 
  color: #000; 
} */
