* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--color-darkblue);
    height: 100%;
    padding: 10px;
    padding-bottom: 10px;
    /* border-radius: .5rem; */
    /* border: 5px solid var(--color-border); */
}

.header-option a:hover {
    background-color: var(--color-smokedblue);
    border-radius: .25rem;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0px auto;
    padding: 0 20px;
}

.header-title {
    display: flex;
    align-items: center;
    margin-left: -75px;
}

.header-title a {
    display: flex;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
    color: var(--color-golden);
}

/* .header-options {
    display: flex;
    gap: 20px;
    flex-grow: 1;
    justify-content: center;
} */

.header-option {
    position: relative;
    font-size: 15px;
}

.header-option a {
    color: var(--color-gray);
    text-decoration: none;
    padding: 10px;
    font-weight: 100;
}

.header-option .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--color-darkblue);
    opacity: 0.97;
    margin-top: 10px;
    padding: 10px;
    /* border-radius: 4px; */
}

.header-option:hover .dropdown {
    display: block;
}

.header-option .dropdown a {
    color: var(--color-gray);
    display: block;
    /* padding: 5px 10px; */
}

/* .header-option .dropdown a:hover {
    background-color: rgb(255, 130, 130);
}
 */