<!-- partial file! -->
<div class="form-row">
    <div class="form-item">
        <label>Nome</label>
        <input class="form-input" type="text" name="name" value="<%= admin.name %>" required>
    </div>

    <div class="form-item">
        <label>Email</label>
        <input class="form-input" type="email" name="email" value="<%= admin.email %>" required>
    </div>

<% if (admin.isNew) { %>

    <div class="form-item">
        <label>Palavra Passe</label>
        <input class="form-input" type="password" name="password" required>
    </div>

<% } else { %>

    <div class="form-item"> 
        <label>Estado da Conta</label>
        <select name="state">
            <option label="Active" value="Active"></option>
            <option label="Inactive" value="Inactive"></option>
        </select>
    </div>
    
<% } %>
</div>