<!-- partial file! -->
<div class="form-column">
    <div class="form-item">
        <label>Nome</label>
        <input class="form-input" type="text" name="name" value="<%= admin.name %>" required>
    </div>

    <div class="form-item">
        <label>Email</label>
        <input class="form-input" type="email" name="email" value="<%= admin.email %>" required>
    </div>

    <% if (admin.isNew) { %>

        <div class="form-item">
            <label>Palavra Passe</label>
            <input class="form-input" type="password" name="password" required>
        </div>

    <% } else { %>
        <div class="form-item"> 
            <label>Estado da Conta</label>
            <div class="radio-group">
                <input type="radio" name="state" value="Ativo" id="ativo" <%= admin.state === 'Ativo' ? 'checked' : '' %>>
                <label for="ativo">Ativo</label>

                <input type="radio" name="state" value="Inativo" id="inativo" <%= admin.state === 'Inativo' ? 'checked' : '' %>>
                <label for="inativo">Inativo</label>
            </div>
        </div>
<% } %>
</div>