<!-- partial file! -->
<div class="form-row">
    <div class="form-item">
        <label>Name</label>
        <input type="text" name="name" value="<%= admin.name %>" required>
    </div>

    <div class="form-item">
        <label>Email</label>
        <input type="email" name="email" value="<%= admin.email %>" required>
    </div>

    <div class="form-item">
        <label>Password</label>
        <input type="password" name="password" required>
    </div>

    <div class="form-item"></div>
        <label>State</label>
        <select name="state">
            <option label="Active" value="Active"></option>
            <option label="Inactive" value="Inactive"></option>
        </select>
    </div>
</div>