<div class="form-container">
    <h2>Alterar Palavra Passe</h2>
    <form action="/admin/manage-accounts/admin/password?_method=PATCH" method="POST">
        <div class="form-column">
            <div class="form-item">
                <label>Palavra Passe Atual</label>
                <input class="form-input" type="password" name="oldPassword" required>
            </div>
            
            <div class="form-item">
                <label>Nova Palavra Passe</label>
                <input class="form-input" type="password" name="newPassword" required>
            </div>
            
            <div class="form-item">
                <label>Repetir Nova Palavra Passe</label>
                <input class="form-input" type="password" name="repeatPassword" required>
            </div>
        </div>
        
        <div class="form-options">
            <button class="btn btn-primary" type="submit">Atualizar Palavra Passe</button>
            <a class="btn btn-cancel" href="/admin/manage-accounts/admin/<%= admin.id %>">Cancelar</a>
        </div>
    </form>
</div>