<div class="form-container">
    <h2>Edit Admin</h2>
    <form action="/admin/manage-accounts/admin/<%= admin.id %>?_method=PUT" method="POST">
        <%- include('_form_fields') %>
        <a href="/admin/manage-accounts/admin/<%= admin.id %>">Cancel</a>
        <button class="btn btn-primary" type="submit">Update</button>
    </form>
</div>