<div class="form-container">
    <h2>New Admin</h2>
    <form action="/admin/manage-accounts/admin" method="POST">
        <%- include('_form_fields') %>
        <a href="/admin/manage-accounts/admin">Cancel</a>
        <button class="btn btn-primary" type="submit">Create</button>
    </form>
</div>