<div class="form-container">
    <h2>Novo Administrador</h2>
    <form action="/admin/manage-accounts/admin" method="POST">
            <%- include('_form_fields') %>
        <div class="form-options">
            <button class="btn btn-primary" type="submit">Criar</button>
            <a class="btn btn-cancel" href="/admin/manage-accounts/admin">Cancelar</a>
        </div>
    </form>
</div>